@page "/Facturas"

<h3>Lista de Usuarios</h3>

<div class"form-group row">
    <div class="col-sm-2">
        <a href="/Facturas/InsertarFactura" class="btn btn-primary">Insertar Factura</a>
    </div>
</div>

@if (facturasLista == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>IdFactura</th>
                <th>Identidad Cliente</th>
                <th>Fecha</th>
                <th>SubTotal</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in facturasLista)
            {
                <tr>
                    <td>@factura.IdFactura</td>
                    <td>@factura.IdentidadCliente</td>
                    <td>@factura.Fecha</td>
                    <td>@factura.SubTotal</td>
                    <td>@factura.Impuesto</td>
                    <td>@factura.Total</td>
                    <td>
                        <a class="btn btn-success" href="@($"/Usuarios/Editar/{factura.IdFactura}")">Agregar</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

