@page "/Facturas"

     <h1 style = "color:blue;" >Auto-Ventas UNAH</h1>
     <h3>Historial Facturas</h3>

@if (facturasLista == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>IdFactura</th>
                <th>Identidad Cliente</th>
                <th>Nombre Cliente</th>
                <th>Fecha</th>
                <th>Codigo Automovil</th>
                <th>Cantidad </th>
                <th>SubTotal</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in facturasLista)
            {
                <tr>
                    <td>@factura.IdFactura</td>
                    <td>@factura.IdentidadCliente</td>
                    <td>@factura.NombreCliente</td>
                    <td>@factura.Fecha</td>
                    <td>@factura.CodigoAutomovil</td>
                    <td>@factura.Cantidad</td>
                    <td>@factura.SubTotal</td>
                    <td>@factura.Impuesto</td>
                    <td>@factura.Total</td>
@*                    <td>
                        <a class="btn btn-success" href="@($"/Facturas/Nuevafactura/{factura.IdFactura}")">Agregar</a>
                    </td>*@

                </tr>
            }
        </tbody>
    </table>
}

